<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erpnext.common.authority.mapper.AdminUserDTOMapper">
	<resultMap id="BaseResultMap" type="com.erpnext.common.authority.dto.AdminUserDTO">
		<id column="user_id" jdbcType="CHAR" property="userId" />
		<result column="active_status_flag" jdbcType="TINYINT"
			property="activeStatusFlag" />
		<result column="login_name" jdbcType="VARCHAR" property="loginName" />
		<result column="user_name" jdbcType="VARCHAR" property="userName" />
		<!-- <result column="password" jdbcType="CHAR" property="password" /> -->
		<result column="phone_number" jdbcType="CHAR" property="phoneNumber" />
		<result column="email1" jdbcType="VARCHAR" property="email" />
		<result column="role_name" jdbcType="VARCHAR" property="roleName" />
		<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
	</resultMap>
	<sql id="Base_Select">
		select
			a.user_id,
			a.active_status_flag,
			a.login_name,
			a.user_name,
			a.phone_number,
			a.email as email1,
			a.role_name,
			a.create_date
		from
			sys_admin_user a
	</sql>
	<sql id="Example_Where_Clause">
		<where>
			<if test="loginName != null and loginName != ''">
				a.login_name = #{loginName,jdbcType=CHAR}
			</if>
			<if test="departmentId != null and departmentId != ''">
				and exists(
					select 1 from common_department_user_xref b
					where a.user_id = b.user_id
					and b.department_id = #{departmentId,jdbcType=VARCHAR})
			</if>
		    <if test="userName != null and userName != ''">
				and a.user_name like concat('%', #{userName,jdbcType=VARCHAR}, '%')
			</if>
		</where>
	</sql>
	<select id="selectOne" resultMap="BaseResultMap">
		<include refid="Base_Select" />
		where a.user_id = #{userId,jdbcType=CHAR}
	</select>
	<select id="selectList" resultMap="BaseResultMap">
		<include refid="Base_Select" />
		<include refid="Example_Where_Clause" />
		<if test="pageable != null" >
			limit #{pageable.offset},#{pageable.pageSize}
		</if>
	</select>
	<select id="countByExample" resultType="java.lang.Integer">
    	select count(*) from (
    		<include refid="Base_Select" />
    		<include refid="Example_Where_Clause" />
    	) t
    	
  	</select>
</mapper>