<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.mchange" level="INFO"/>
        <Logger name="org.apache.ibatis" level="INFO"/>
        <Logger name="org.mybatis.spring" level="INFO"/>
        <Logger name="com.erpnext" level="DEBUG"/>
        <!-- <Logger name="org.flowable.engine.impl.persistence" level="DEBUG"/> -->
        <Logger name="org.springframework" level="ERROR"/>
        <Logger name="org.flowable" level="DEBUG"/>
        <Logger name="org.flowable.engine.common.impl.db.DbSqlSession" level="ERROR"/>
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>