<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erpnext.common.param.mapper.AreaMapper">
	<resultMap id="BaseResultMap" type="com.erpnext.common.param.domain.Area">
		<id column="id" jdbcType="CHAR" property="id" />
		<result column="parent_id" jdbcType="CHAR" property="parentId" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="sort" jdbcType="SMALLINT" property="sort" />
		<result column="postal_code" jdbcType="CHAR" property="postalCode" />
		<result column="type" jdbcType="CHAR" property="type" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="del_flg" jdbcType="BIT" property="delFlg" />
	</resultMap>
	<sql id="Base_Column_List">
		id, parent_id, name, sort, postal_code, type, remark, del_flg
	</sql>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from common_area
		where id = #{id,jdbcType=CHAR}
	</delete>
	<insert id="insert" parameterType="com.erpnext.common.param.domain.Area">
		insert into common_area (<include refid="Base_Column_List" />)
		values (#{id,jdbcType=CHAR}, #{parentId,jdbcType=CHAR},
		#{name,jdbcType=VARCHAR},
		#{sort,jdbcType=SMALLINT}, #{postalCode,jdbcType=CHAR}, #{type,jdbcType=CHAR},
		#{remark,jdbcType=VARCHAR}, #{delFlg,jdbcType=BIT})
	</insert>
	<update id="updateByPrimaryKey" parameterType="com.erpnext.common.param.domain.Area">
		update common_area
		set parent_id = #{parentId,jdbcType=CHAR},
		name = #{name,jdbcType=VARCHAR},
		sort = #{sort,jdbcType=SMALLINT},
		postal_code = #{postalCode,jdbcType=CHAR},
		type = #{type,jdbcType=CHAR},
		remark = #{remark,jdbcType=VARCHAR},
		del_flg = #{delFlg,jdbcType=BIT}
		where id = #{id,jdbcType=CHAR}
	</update>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select <include refid="Base_Column_List" />
		from common_area
		where id = #{id,jdbcType=CHAR}
		and del_flg is false
	</select>
	<select id="selectAreaByCode" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select <include refid="Base_Column_List" />
		from common_area
		where postal_code = #{postalCode,jdbcType=CHAR}
		and del_flg is false
	</select>
	<select id="selectAreaNameByCode" parameterType="java.lang.String"
		resultType="java.lang.String">
		select name
		from common_area
		where postal_code = #{postalCode,jdbcType=CHAR}
		and del_flg is false
	</select>
	<select id="selectChild" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select <include refid="Base_Column_List" />
		from common_area
		where parent_id = #{parentId,jdbcType=CHAR}
		and del_flg is false
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" />
		from common_area
		where del_flg is false
	</select>
</mapper>