<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erpnext.crm.customer.mapper.CustomerMapper">
	<resultMap id="BaseResultMap" type="com.erpnext.crm.customer.domain.Customer">
		<id column="customer_no" jdbcType="CHAR" property="customerNo" />
		<result column="customer_type" jdbcType="CHAR" property="customerType" />
		<result column="customer_name" jdbcType="VARCHAR" property="customerName" />
		<result column="customer_group" jdbcType="CHAR" property="customerGroup" />
		<result column="area_code" jdbcType="CHAR" property="areaCode" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="certificate_type" jdbcType="CHAR" property="certificateType" />
		<result column="certificate_no" jdbcType="CHAR" property="certificateNo" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="create_by" jdbcType="CHAR" property="createBy" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="modify_by" jdbcType="CHAR" property="modifyBy" />
		<result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
		<result column="status" jdbcType="TINYINT" property="status" />
	</resultMap>
	
	<!-- <resultMap id="PageResultMap" type="com.erpnext.crm.customer.dto.CustomerDTO">
		<id column="customer_no" jdbcType="CHAR" property="customerNo" />
		<result column="customer_type" jdbcType="CHAR" property="customerType" />
		<result column="customer_name" jdbcType="VARCHAR" property="customerName" />
		<result column="customer_group" jdbcType="CHAR" property="customerGroup" />
	    
		<result column="area_code" jdbcType="CHAR" property="areaCode" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="certificate_type" jdbcType="CHAR" property="certificateType" />
		<result column="certificate_no" jdbcType="CHAR" property="certificateNo" />
		<association property="customerGroupName" column="customer_group"
	     select="com.erpnext.crm.customer.mapper.CustomerGroupMapper.selectCustomerGroupName"/>
	</resultMap> -->
	
	<sql id="Base_Column_List">
		customer_no, customer_type, customer_name,
		customer_group, area_code, remark,
		certificate_type, certificate_no, address, create_by,
		create_time, modify_by, modify_time,
		status
	</sql>
	<!-- <sql id="Page_Column_List">
		customer_no, customer_type, customer_name,
		customer_group, area_code, remark,
		certificate_type, certificate_no
	</sql> -->
	<sql id="Example_Where_Clause">
		where status = 1
		<if test="customerNo != null and customerNo != ''">
			and customer_no = #{customerNo,jdbcType=CHAR}
		</if>
		<if test="customerName != null and customerName != ''">
			and customer_name = #{customerName,jdbcType=VARCHAR}
		</if>
		<!-- <if test="areaCode != null and areaCode != ''">
			area_code = #{areaCode,jdbcType=CHAR}
		</if> -->
		<if test="areaCodeList != null">
			and area_code in
			<foreach item="item" index="index" collection="areaCodeList" open="(" separator="," close=")">  
  				#{item}  
 			</foreach>
		</if>
		<if test="customerGroup != null and customerGroup != ''">
			and customer_group = #{customerGroup,jdbcType=CHAR}
		</if>
	</sql>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from crm_customer
		where customer_no = #{customerNo,jdbcType=CHAR}
	</delete>
	<insert id="insert" parameterType="com.erpnext.crm.customer.domain.Customer">
		insert into crm_customer (<include refid="Base_Column_List" />)
		values (#{customerNo,jdbcType=CHAR}, #{customerType,jdbcType=CHAR},
		#{customerName,jdbcType=VARCHAR},
		#{customerGroup,jdbcType=CHAR}, #{areaCode,jdbcType=CHAR}, #{remark,jdbcType=VARCHAR},
		#{certificateType,jdbcType=CHAR}, #{certificateNo,jdbcType=CHAR},
		#{address,jdbcType=VARCHAR},#{createBy,jdbcType=CHAR},
		#{createTime,jdbcType=TIMESTAMP}, #{modifyBy,jdbcType=CHAR}, #{modifyTime,jdbcType=TIMESTAMP},
		#{status,jdbcType=TINYINT})
	</insert>
	<update id="updateByPrimaryKey" parameterType="com.erpnext.crm.customer.domain.Customer">
		update crm_customer
		set customer_type = #{customerType,jdbcType=CHAR},
		customer_name = #{customerName,jdbcType=VARCHAR},
		customer_group = #{customerGroup,jdbcType=CHAR},
		area_code = #{areaCode,jdbcType=CHAR},
		remark = #{remark,jdbcType=VARCHAR},
		certificate_type = #{certificateType,jdbcType=CHAR},
		certificate_no = #{certificateNo,jdbcType=CHAR},
		address = #{address,jdbcType=VARCHAR},
		create_by = #{createBy,jdbcType=CHAR},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		modify_by = #{modifyBy,jdbcType=CHAR},
		modify_time = #{modifyTime,jdbcType=TIMESTAMP},
		status = #{status,jdbcType=TINYINT}
		where customer_no = #{customerNo,jdbcType=CHAR}
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.erpnext.crm.customer.domain.Customer">
    	update crm_customer
    	<set>
		    <if test="customerType != null">
		      	customer_type = #{customerType,jdbcType=CHAR},
		    </if>
		    <if test="customerName != null">
		      	customer_name = #{customerName,jdbcType=VARCHAR},
		    </if>
		    <if test="customerGroup != null">
		      	customer_group = #{customerGroup,jdbcType=CHAR},
		    </if>
		    <if test="areaCode != null">
		      	area_code = #{areaCode,jdbcType=CHAR},
		    </if>
		    <if test="remark != null">
		      	remark = #{remark,jdbcType=VARCHAR},
		    </if>
		    <if test="certificateType != null">
		      	certificate_type = #{certificateType,jdbcType=CHAR},
		    </if>
		    <if test="certificateNo != null">
		      certificate_no = #{certificateNo,jdbcType=CHAR},
		    </if>
		    <if test="address != null">
		      	address = #{address,jdbcType=VARCHAR},
		    </if>
		    <if test="createBy != null">
		      	create_by = #{createBy,jdbcType=CHAR},
		    </if>
		    <if test="createTime != null">
		      	create_time = #{createTime,jdbcType=TIMESTAMP},
		    </if>
		    <if test="modifyBy != null">
		      	modify_by = #{modifyBy,jdbcType=CHAR},
		    </if>
		    <if test="modifyTime != null">
		      	modify_time = #{modifyTime,jdbcType=TIMESTAMP},
		    </if>
		    <if test="status != null">
		      	status = #{status,jdbcType=TINYINT},
		    </if>
    	</set>
    	where customer_no = #{customerNo,jdbcType=CHAR}
    </update>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select <include refid="Base_Column_List" />
		from crm_customer
		where customer_no = #{customerNo,jdbcType=CHAR}
		and status = 1
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" />
		from crm_customer
		and status = 1
	</select>
	
	
	<select id="selectList" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" />
		from crm_customer
		<include refid="Example_Where_Clause" />
		<if test="pageable != null" >
			limit #{pageable.offset},#{pageable.pageSize}
		</if>
	</select>
	
	<select id="countByExample" resultType="java.lang.Integer">
		select count(*) from crm_customer
		<include refid="Example_Where_Clause" />
	</select>

</mapper>