<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erpnext.stock.param.mapper.ItemPriceDTOMapper">
	<resultMap id="BaseResultMap" type="com.erpnext.stock.param.dto.ItemPriceDTO">
		<id column="item_id" jdbcType="CHAR" property="itemId" />
		<id column="price_id" jdbcType="CHAR" property="priceId" />
		<id column="currency_id" jdbcType="CHAR" property="currencyId" />
		<result column="stand_price_rate" jdbcType="DECIMAL" property="standPriceRate" />
		<result column="max_price_rate" jdbcType="DECIMAL" property="maxPriceRate" />
		<result column="min_price_rate" jdbcType="DECIMAL" property="minPriceRate" />
		<result column="enabled" jdbcType="TINYINT" property="enabled" />
		<association property="item" column="item_id"
	    	select="com.erpnext.stock.param.mapper.ItemMapper.selectByPrimaryKey"/>
	    <association property="price" column="price_id"
	    	select="com.erpnext.stock.param.mapper.PriceMapper.selectByPrimaryKey"/>
	    <association property="currency" column="currency_id"
	    	select="com.erpnext.param.param.mapper.CurrencyMapper.selectByPrimaryKey"/>
	</resultMap>
	<sql id="Base_Column_List">
    	item_id, price_id, currency_id,
		stand_price_rate, max_price_rate, min_price_rate,
		enabled
  	</sql>
	<select id="selectAll" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" />
		from stock_item_price
	</select>
	<select id="selectOne" parameterType="map" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" />
		from stock_item_price
		where item_id = #{itemId,jdbcType=CHAR}
		and price_id = #{priceId,jdbcType=CHAR}
		and currency_id = #{currencyId,jdbcType=CHAR}
	</select>
	<select id="selectbyItemId" parameterType="map" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" />
		from stock_item_price
		where item_id = #{itemId,jdbcType=CHAR}
	</select>
</mapper>